/* RESET */

* {
  margin: 0;
  padding;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  background: #0b0b12;
  color: #eaeaea;
  line-height: 1.6;
}

/* HEADER */

header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 24px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(10,10,20,0.6);
  backdrop-filter: blur(12px);
  z-index: 1000;
}

header img {
  height: 36px;
}

nav a {
  margin-left: 32px;
  text-decoration: none;
  color: #aaa;
  font-size: 15px;
  transition: 0.2s;
}

nav a:hover {
  color: white;
}

/* CONTAINER */

section {
  max-width: 1200px;
  margin: auto;
  padding: 160px 40px;
}

/* HERO */

.hero h1 {
  font-size: 72px;
  line-height: 1.1;
  margin-bottom: 16px;
}

.hero p {
  color: #aaa;
  max-width: 500px;
  margin-bottom: 28px;
}

/* BUTTON */

.btn {
  padding: 16px 30px;
  background: #5a5cff;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  display: inline-block;
  transition: 0.25s;
}

.btn:hover {
  background: white;
  color: #5a5cff;
}

/* GRID */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
  gap: 30px;
  margin-top: 40px;
}

/* CARDS */

.card {
  background: #131320;
  padding: 32px;
  border-radius: 10px;
  border: 1px solid #1f1f30;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  background: #181828;
}

/* NUMBERS */

.numbers {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.numbers h2 {
  font-size: 64px;
  color: #5a5cff;
}

/* CONTACT FORM */

input, textarea {
  width: 100%;
  padding: 14px;
  margin-bottom: 16px;
  border-radius: 6px;
  border: 1px solid #222;
  background: #0f0f18;
  color: white;
}

input:focus, textarea:focus {
  outline: none;
  border-color: #5a5cff;
}

/* FOOTER */

footer {
  text-align: center;
  padding: 60px 20px;
  color: #777;
  border-top: 1px solid #1a1a25;
  margin-top: 80px;
}


